html {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #13aaf7;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.wrapper {
  display: grid;
  grid-template-columns: 15.625% 84.375%;
  margin: 0;
  padding: 0;
  position: relative;
}

.mobile-menu-wrapper {
  display: none;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  width: 15.625%;
  height: 100%;
  box-sizing: border-box;
  z-index: 1001;
  padding: 0.6875rem 1.875rem;
}

.logo {
  padding: 0 auto;
}

.logo img {
  width: 10.1875rem;
}

.mobile-nav {
  display: none;
}

.center {
  display: block;
  margin: 0 auto;
}

.hr {
  margin: 0 -1.875rem;
}

.flex {
  display: flex;
  color: #fff;
  font-weight: 700;
  font-size: 1.125rem;
  align-items: center;
  gap: 1.1875rem;
}

.justifyContent {
  justify-content: center;
}

.menu-list {
  list-style-type: none;
  padding-inline-start: 0;
  color: #fff;
  font-weight: 700;
  font-size: 1.125rem;
}

.menu-list li {
  margin-bottom: 1rem;
}

.menu-list li:hover,
.menu-list a:hover {
  cursor: pointer;
  color: var(--primary-color);
}

.menu-list a {
  list-style-type: none;
  padding-inline-start: 0;
  color: #fff;
  font-weight: 700;
  font-size: 1.125rem;
  text-decoration: none;
}

.agreement {
  color: rgb(255, 255, 255, 50%);
  text-align: center;
  font-weight: 500;
  font-size: 0.75rem;
}

button {
  font-family: "Montserrat", sans-serif;
}

.button {
  display: flex;
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  align-items: center;
  padding: 0.625rem 1.0625rem;

  font-size: 0.9375rem;
  font-weight: 600;
  font-family: "Montserrat";
  background-color: var(--primary-color);
  color: #fff;

  outline: none;
  border: 0.0625rem solid transparent;
  width: 150px;
  box-sizing: border-box;
  height: 3.125rem;
  border-radius: 0.1875rem;
}

.button:hover {
  color: var(--primary-color);
  background-color: #fff;
  border: 0.0625rem solid var(--primary-color);
  cursor: pointer;
}

.page1 {
  display: grid;
  grid-template-columns: 38% 62%;
  position: relative;
  box-sizing: border-box;
}

.page1_slider {
  position: relative;
  box-sizing: border-box;
}

.zhiloy_image {
  width: 100%;
  object-fit: cover;
}

.chip {
  position: absolute;
  background-color: var(--primary-color);
  height: 11.375rem;
  box-sizing: border-box;
  width: 50%;
  padding: 2.25rem 2.9375rem 1.9375rem 5.5rem;
  bottom: 0;

  z-index: 1000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.left {
  padding: 5rem 0 6.875rem 5.3125rem;
  font-weight: 500;
}

.title {
  font-size: 2.75rem;
  line-height: 3.5rem;
}

.description {
  font-size: 1.25rem;
  line-height: 1.875rem;
}

.icon {
  color: #fff;
  font-weight: 500;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page2 {
  padding: 7.1875rem 5.125rem 7.8125rem 5.5rem;
  box-sizing: border-box;
}

.title {
  font-size: 3.0625rem;
  font-weight: 500;
}

.modal {
  background-color: #fff;
  position: absolute;
  padding: 3.5rem 2rem 3.25rem 3.4375rem;
  box-shadow: 0 0.25rem 0.25rem rgba(70, 70, 70, 0.25);
  right: 8%;
  z-index: 1;
}

.modal > div:first-of-type {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 35%;
}

.list {
  list-style-type: none;
  padding-inline-start: 0;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.8rem;
}

.listy {
  padding-inline-start: 0;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.8rem;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.625rem 1.0625rem;

  font-size: 0.9375rem;
  font-weight: 600;
  font-family: "Montserrat";
  color: black;

  outline: none;
  border: 0.0625rem solid rgb(0, 0, 0, 0.2);
  width: 150px;
  box-sizing: border-box;
  height: 3.125rem;
  border-radius: 0.1875rem;
}

.page3 {
  position: relative;
  box-sizing: border-box;
}

.page3 img {
  width: 80%;
  object-fit: cover;
  max-height: 31.25rem;
}

.slider_wrapper {
  position: relative;
}

.gallery {
  position: absolute;
  top: 25rem;
  right: 10%;
}

.number {
  position: absolute;
  bottom: 3.125rem;
  font-size: 1.125rem;
  right: 50%;
  letter-spacing: 0.2rem;
  color: white;
}

.numbers {
  position: absolute;
  bottom: 3.125rem;
  font-size: 1.125rem;
  right: 5%;
  letter-spacing: 1rem;
}

.numbe {
  position: absolute;
  top: 29rem;
  font-size: 1.125rem;
  right: 12%;
  letter-spacing: 0.2rem;
}

.numberssss {
  top: 2%;
  position: absolute;
  font-size: 1.125rem;
  right: 10%;
  letter-spacing: 1rem;
}

.arrow-right {
  position: absolute;
  z-index: 1002;
  width: 4.375rem;
  height: 4.375rem;
  background-color: #fff;
  box-sizing: border-box;
  padding: 1.1875rem 1.6875rem;
  right: 20%;
  top: 25rem;
  cursor: pointer;
}

.arrow-rights {
  position: absolute;
  z-index: 1002;
  width: 4.375rem;
  height: 4.375rem;
  background-color: #fff;
  box-sizing: border-box;
  padding: 1.1875rem 1.6875rem;
  right: 55%;
  bottom: 1.25rem;
  cursor: pointer;
}

.arrow-rightsss {
  position: absolute;
  z-index: 1002;
  width: 4.375rem;
  height: 4.375rem;
  background-color: #fff;
  box-sizing: border-box;
  padding: 1.1875rem 1.6875rem;
  right: 15%;
  bottom: 1.25rem;
  cursor: pointer;
}

.arrow-rightsss img {
  width: 100%;
}

.arrow-rightssss {
  position: absolute;
  z-index: 1002;
  width: 4.375rem;
  height: 4.375rem;
  background-color: #fff;
  box-sizing: border-box;
  padding: 1.1875rem 1.6875rem;
  right: 5%;
  cursor: pointer;
}

.between_pages {
  border-top: 0.0625rem solid rgba(0, 0, 0, 0.2);
}

.page10 {
  width: 98%;
}

.page5 {
  padding: 6.125rem 0 7.8125rem 6.125rem;
}

.icon_check path {
  fill: black;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5.375rem;
}

.page5_flex {
  display: flex;
  gap: 5.375rem;
}

.page5_right {
  padding: 4.25rem 4.1875rem 0;
  background-color: var(--primary-color);
  box-sizing: border-box;
  position: relative;
  height: 53.125rem;
}

.svg {
  margin-left: -4.1875rem;
  position: absolute;
  top: 60%;
  width: 100%;
}

.svg line {
  stroke: #fff;
}

.page5_title {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.1875rem;
  color: #fff;
}

.page5_description {
  color: #fff;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.chick {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;

  object-fit: cover;
}

.trapecia {
  position: absolute;
  right: 20%;
  bottom: 25%;
}

.zayavka_button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.625rem 1.0625rem;

  font-size: 0.9375rem;
  font-weight: 600;
  font-family: "Montserrat";
  background-color: #fff;
  color: var(--primary-color);

  outline: none;
  border: 0.0625rem solid transparent;
  width: 12.5rem;
  box-sizing: border-box;
  height: 3.125rem;
  border-radius: 0.1875rem;
  cursor: pointer;
}

.zayavka_button:hover {
  color: var(--primary-color);
  background-color: #fff;
}

/* .page5_left {
  flex-grow: 10;
} */

.garanty {
  font-weight: 500;
  font-size: 1.5rem;
}

.garanty_description {
  font-weight: 400;
  font-size: 1.125rem;
}

.page6 {
  padding: 9.375rem 0 5.375rem 4.5625rem;
  box-sizing: border-box;
}

.page6_slider {
  padding: 9.375rem 0 5.375rem 4.5625rem;
  box-sizing: border-box;
  position: relative;
  box-sizing: border-box;
}

.page6 img {
  object-fit: contain;
  width: 100%;
  max-height: 500px;
}

.page6_box {
  padding: 1.9375rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5625rem;
  border: 0.0625rem solid rgba(0, 0, 0, 0.2);
}

.page6_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1.875rem;
}

.page6_box_span {
  font-size: 1rem;
  font-weight: 600;
}

.otzyv {
  display: flex;
  justify-content: center;
}

.page7 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4.4375rem;
  padding: 5rem 0 0 5.3125rem;
}

.page7_title {
  font-weight: 500;
  font-size: 1.5rem;
}

.page7_title2 {
  font-size: 1.5rem;
  font-weight: 700;
}

.page7_image > img {
  width: 100%;
}

.page7_title3 {
  font-size: 1.125rem;
  font-weight: 700;
}

.page7_orange {
  background-color: #efebde;
  padding: 1.0625rem 2.6875rem 0.9375rem;
  box-sizing: border-box;
}

.page7_svg {
  display: block;
}

.page7_flex {
  display: flex;
  gap: 0.9375rem;
}

.width200px {
  width: 12.5rem;
}

.form {
  display: none;
  position: fixed;
  background-color: var(--primary-color);
  z-index: 1003;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 2.75rem;
  box-sizing: border-box;
  color: white;
}

.text-center {
  text-align: center;
}

.form_title {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.1rem;
}

.input {
  display: block;
  background-color: #747e94;
  width: 100%;
  padding: 0.9063rem 0.75rem;
  color: #fff;
  outline: none;
  border: 0.0625rem solid transparent;
  font-size: 1.25rem;
  font-weight: 400;
  box-sizing: border-box;
}

.input::placeholder {
  color: white;
  font-size: 1.25rem;
  font-weight: 400;
}

.callme {
  margin: 0 auto;
  padding: 0.75rem 1.5rem;
  background-color: #78a962;
  color: #fff;
  box-sizing: border-box;
  border: 0.0625rem solid transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}

.close {
  position: absolute;
  top: 0.75rem;
  right: 1.5rem;
  cursor: pointer;
}

footer {
  height: 2.4375rem;
  background-color: var(--primary-color);
  padding: 0.625rem 1.875rem;
  color: white;
  font-size: 0.8125rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
}

.page3_undertext {
  padding: 2.0625rem 3.125rem 1.5625rem 1.25rem;
  box-shadow: 0 0.25rem 0.25rem rgba(137, 137, 137, 0.25);
  box-sizing: border-box;
  margin: 5px;
  min-height: max-content;
}

.hidden {
  display: none;
}

.undertext_title {
  text-transform: uppercase;
  font-weight: 600;
}

.mores {
  width: 100%;
}

.inside-menu {
  display: none;
}
